@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: #ececec;
    width: 40rem;
}
h3{
    margin-top: 0.8rem;
}
input,button,.check, select{
    margin-left: 4rem;
}
button{
    background-color: #969696;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1rem;
    width: 6rem;
}
label{
    margin-left: 0.5rem;
}
.flex{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.header{
    background-color: rgb(245, 245, 245);
}
.title{
    padding-top: 2rem;
    margin: auto;
    width: 80%;
    text-align: center;
    margin-bottom: 1.3rem;
}
.title h1{
    font-weight: 800;
    user-select: none;
}
.input-color {
    -webkit-appearance: none;
    padding: 0;
    border: 0.5px solid black;
    border-radius: 9px;
    width: 35px;
    height: 30px;
}
.input-color::-webkit-color-swatch {
    border: none;
    border-radius: 8px;
    padding: 0;
}
.input-color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 8px;
    padding: 0;
}
main{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.left-side{
    margin-left: 1rem;
    padding-right: 1rem;
}
.right-side{
    width: 30%;
    border-left: 1px solid rgb(80, 80, 80, 0.1);
    padding-left: 2rem;
}
.color-list{
    margin-left: 4rem;
}
.color-input{
    width: 60%;
    margin-bottom: 1rem;
    padding: 0.2rem;
    height: 2.2rem;
}
.bg-color{
    margin-left: 2rem;
}